body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #1A5276;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav {
    background-color: #5499C7;
    padding: 10px;
    text-align: center;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
main {
    padding: 20px;
}
footer {
    background-color: #AED6F1;
    color: #1A5276;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.Positive h3
{
   color: greenyellow;

}
.negative h3
{
    color: red;
}
img{
    border:2px #1A5276 dotted;
    border-radius:50px; 
}